In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in c:\application\anaconda\lib\site-packages (3.11.3)

In [2]:
import pymongo

In [3]:

client = pymongo.MongoClient("mongodb+srv://Shivan:[password]@cluster0.f8ubdzh.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [4]:
# Create Database
databse_name = 'student1'
student_database = client[databse_name]

In [5]:
# Create a Collection
collection = 'student_database'

In [6]:
student_deatils_collection = student_database[collection]

In [7]:
# Document create 
student_data = {
    "name": "Shivan",
    "collage": "PTU",
    "Address":"Whitefiled"
}

In [12]:
# Document create 
student_data = {
    "name": "Sanju",
    "collage": "UPTU",
    "Roll_number":789
}

In [13]:
student_deatils_collection.insert_one(student_data)

In [14]:
student_corsor = student_deatils_collection.find()

In [15]:
student_corsor.next()

{'_id': ObjectId('63a19942d81bc7f675dbf4c3'),
 'name': 'Shivan',
 'collage': 'PTU',
 'Address': 'Whitefiled'}

In [16]:
student_corsor.next()

{'_id': ObjectId('63a199d0d81bc7f675dbf4c4'),
 'name': 'Sanju',
 'collage': 'UPTU',
 'Roll_number': 789}

In [17]:
for student_details in student_deatils_collection.find():
    print(student_details)

{'_id': ObjectId('63a19942d81bc7f675dbf4c3'), 'name': 'Shivan', 'collage': 'PTU', 'Address': 'Whitefiled'}
{'_id': ObjectId('63a199d0d81bc7f675dbf4c4'), 'name': 'Sanju', 'collage': 'UPTU', 'Roll_number': 789}

In [18]:
# Insert Multiple records
stundet_data_list = [
    {"name":"Sbhubham", "last_name":"Kumar", "Course": "Cyber Security"},
    {"City": "bangalore", "name":"Sima", "Collage": "Mumbai University"},
    {"name": "Rahul", "Books": "machine Learning", "job": "Data Science"}
]

In [19]:
student_deatils_collection.insert_many(stundet_data_list)

In [20]:
for student_details in student_deatils_collection.find():
    print(student_details)

{'_id': ObjectId('63a19942d81bc7f675dbf4c3'), 'name': 'Shivan', 'collage': 'PTU', 'Address': 'Whitefiled'}
{'_id': ObjectId('63a199d0d81bc7f675dbf4c4'), 'name': 'Sanju', 'collage': 'UPTU', 'Roll_number': 789}
{'_id': ObjectId('63a19a96d81bc7f675dbf4c5'), 'name': 'Sbhubham', 'last_name': 'Kumar', 'Course': 'Cyber Security'}
{'_id': ObjectId('63a19a96d81bc7f675dbf4c6'), 'City': 'bangalore', 'name': 'Sima', 'Collage': 'Mumbai University'}
{'_id': ObjectId('63a19a96d81bc7f675dbf4c7'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}

In [21]:
# Filter operations

In [24]:
query = {"name":"Rahul"}

In [25]:
for student_details in student_deatils_collection.find(query):
    print(student_details)

{'_id': ObjectId('63a19a96d81bc7f675dbf4c7'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}

In [29]:
for student_details in student_deatils_collection.find({"name":"Rahul", 'Books': 'machine Learning'}):
    print(student_details)

{'_id': ObjectId('63a19a96d81bc7f675dbf4c7'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}

In [33]:
# Regular Expression
myquery = {"name":{"$regex":"^R"}}

In [34]:
doc = student_deatils_collection.find(myquery)

for x in doc:
    print(x)

{'_id': ObjectId('63a19a96d81bc7f675dbf4c7'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}

In [35]:
# Sort
doc = student_deatils_collection.find().sort("name")
for x in doc:
    print(x)

{'_id': ObjectId('63a19a96d81bc7f675dbf4c7'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}
{'_id': ObjectId('63a199d0d81bc7f675dbf4c4'), 'name': 'Sanju', 'collage': 'UPTU', 'Roll_number': 789}
{'_id': ObjectId('63a19a96d81bc7f675dbf4c5'), 'name': 'Sbhubham', 'last_name': 'Kumar', 'Course': 'Cyber Security'}
{'_id': ObjectId('63a19942d81bc7f675dbf4c3'), 'name': 'Shivan', 'collage': 'PTU', 'Address': 'Whitefiled'}
{'_id': ObjectId('63a19a96d81bc7f675dbf4c6'), 'City': 'bangalore', 'name': 'Sima', 'Collage': 'Mumbai University'}

In [36]:
# Delet operation
myquery = {"name": "Sanju"}
student_deatils_collection.delete_one(myquery)

In [37]:
for x in student_deatils_collection.find():
    print(x)

{'_id': ObjectId('63a19942d81bc7f675dbf4c3'), 'name': 'Shivan', 'collage': 'PTU', 'Address': 'Whitefiled'}
{'_id': ObjectId('63a19a96d81bc7f675dbf4c5'), 'name': 'Sbhubham', 'last_name': 'Kumar', 'Course': 'Cyber Security'}
{'_id': ObjectId('63a19a96d81bc7f675dbf4c6'), 'City': 'bangalore', 'name': 'Sima', 'Collage': 'Mumbai University'}
{'_id': ObjectId('63a19a96d81bc7f675dbf4c7'), 'name': 'Rahul', 'Books': 'machine Learning', 'job': 'Data Science'}

In [40]:
 # Delete multiple records
myqyery = {"name": {"$regex": "^S"}}

In [41]:
x = student_deatils_collection.delete_many(myqyery)

print(x.deleted_count, "Deleted record")

3